{% extends 'base.html' %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/popper.min.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static '/css/bootstrap.min.css' %}">

<script src="{% static '/js/jquery-3.3.1.js' %}"></script>
<script src="{% static '/DataTables/datatables.min.js' %}"></script>
<script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.min.css' %}" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{% static '/js/select2.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/select2.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/css/select2.min.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static '/js/select2.min.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'js/timepicker.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/select2.min.css' %}" />

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<!-- Select2 CSS --> 
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" /> 


<!-- Select2 JS --> 
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<br>
    
    <style>
      * {
  box-sizing: border-box;
}
      input[type=text]
      {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: block;
              /* border: 1.5px solid rgb(14, 12, 12); */
              border-radius: 4px;
              box-sizing: border-box;
      }
    
      input[type=submit] {
              width: 40%;
              text-align: center;
              background-color: #4CAF50;
              color: rgb(15, 12, 12);
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
      }
    
      input[type=submit]:hover {
              background-color: #45a049;
              text-align: center;
      }
    
      input[type=button] {
              width: 30%;
              text-align: center;
              background-color: #4CAF50;
              color: white;
              padding: 6px 6px;
              margin: 8px 0;
              border: none;
              border-radius: 4px;
              cursor: pointer;
      }
    
      input[type=button]:hover {
              background-color: #45a049;
              text-align: center;
      }
      /* #viewbtn{
        margin-left:1050px;
      } */
    
      .inputtag{
        height:20px;
      }
    </style>
<body>
  <h3><center>Compliance Forward List</center></h3>
  <br>
  
  <div class="container" id="container1" style="margin-bottom:5%;" >
    <center>
    <label style="width:7%;margin-right:2%">Forward To</label><label style="width:12%;margin-right:2%">
    <select class="form-control" id="rly" name="rly" class="custom-select">

      <option value="" selected>Select</option>
      {% for i in desig %}
      <option >{{i.designation}}</option>
      {% endfor %}

      </select></label>
        <label style="width:12%;margin-right:2%">Inspection No</label>
        <label style="width:12%" id="inspection_no">{{inspection_no}}</label>
        
        <label style="width:7%;margin-right:2%">Item No</label>
        <label style="width:12%" id="item_no">{{item_no}}</label>
        <button type="button" id="submit_filter" style="width:7%;margin-left:3%;border: 1px solid #ccc;" class="btn btn-outline-secondary" onclick="compliance_forward(this);">Submit</button>  
      </center>
    
  </div> 
  

    <div class="container">
        <table id="mytable" class="table table-striped table-bordered table-sm " cellspacing="0">
        <thead >
          <tr>
            <th>Recieved</th>
            <th>Marked</th>
            <th>Reply</th>
            <th>Reply Recieved</th>
            <th>Merge</th>
          </tr>
        </thead>
        <tbody >
          {% for i in list1 %}
          <tr>
            <td>{{i.recieved_on}}</td>
            <td>{{i.marked_to_forward}}</td>
            <td>{{i.reply}}</td>
            <td>{{i.compliance_recieved_on_forward}}</td>
            {% if i.reply == "pending" %}
            <td><input class="form-check-input" type="checkbox" id="{{i.reply}}" onchange="merge(this)" id="flexCheckChecked" disabled></td>
            {% else %}
            <td><input class="form-check-input" type="checkbox" id="{{i.reply}}" onchange="merge(this)" id="flexCheckChecked" ></td>
            {% endif %}
          </tr>
          {% endfor  %}  
        </tbody>
        </table>
    </div>
    <div class="form-outline" style="margin:2%">
                 
      <textarea  class="form-control" id="textAreaExample1" rows="4" style="margin-left:13%;width: 75%;"></textarea>
  </div>
  <center><button style="margin:2%" type="button" class="btn btn-primary"  style="height:7%" onclick="save_reply()">Save</button></center>
</div>
</body>
<script>
    $( document ).ready(function() {
        $('#mytable').DataTable();
});

function compliance_forward()
{
  
  item_no=document.getElementById('item_no').innerHTML;
  inspection_no=document.getElementById('inspection_no').innerHTML;
  forward_to=$('#rly').val();
  data={
        'item_no':item_no,
        'inspection_no': inspection_no,
        'forward_to':forward_to,
    }
    $.ajax({
                url: "{% url 'compliance_marked_forward' %}",
                method: "GET",
                dataType: "JSON",
                async: false,
                data: data,
                success: function (response) {
                    console.log('saved');
                   alert('forwarded');
                   window.location.reload();
                    // document.getElementById(item_no_id).style.backgroundColor = "lightblue";
                }
     })
}

function save_reply(e)
{
    var item_no=document.getElementById('item_no').innerHTML;
    alert(item_no);
    var compliance=$('#textAreaExample1').val();
  
    data={
        'item_no':item_no,
        'str':'save',
        'compliance':compliance,
    }
    $.ajax({
                url: "{% url 'compliance_filterdata_ajax' %}",
                method: "GET",
                dataType: "JSON",
                async: false,
                data: data,
                success: function (response) {
                    console.log('saved');
                    alert('saved');
                  window.location.reload();
                }
     })
}

function merge(e)
{
    var val=e.id;
    if(document.getElementById(val).checked) {
    
    var textval=$('#textAreaExample1').val()+val+"\n";
    $('#textAreaExample1').val(textval);
    }
}

// Initialize select2
  $("#rly").select2();
          
          // Read selected option
          $('#rly').click(function(){
            var username = $('#rly option:selected').text();
            var userid = $('#rly').val();
        
           
        

          });
</script>

{% endblock %}  