{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'inspects/images/logo_inspection.jpeg' %}">
    <link rel="stylesheet" href="{% static 'rkvy/css/bootstrap.css' %}">
    <script src="{% static 'rkvy/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'rkvy/js/popper.js' %}"></script>
    <script src="{% static 'rkvy/js/bootstrap.js' %}"></script>
    <script src="{% static 'rkvy/js/fontawesomev5.15.js' %}"></script>

    <script type="text/javascript">
        if(self===top){
          var antiClickjack = document.getElementById("antiClickjack");
          antiClickjack.parentNode.removeChild(antiClickjack);
        }
        else{
          top.location= self.location;
        }
      </script>



    <!-- datatable -->
    <link rel="stylesheet" type="text/css" href="{% static 'rkvy/DataTables/datatables.css' %}" />

    <script type="text/javascript" src="{% static 'rkvy/DataTables/datatables.js' %}"></script>

    <!-- jquery-ui all -->

    <link rel="stylesheet" type="text/css" href="{% static 'rkvy/jquery-ui/jquery-ui.css' %}" />

    <script type="text/javascript" src="{% static 'rkvy/jquery-ui/jquery-ui.js' %}"></script>

    <!-- select2 -->

    <link rel="stylesheet" type="text/css" href="{% static 'rkvy/select2/select2.css' %}" />

    <script type="text/javascript" src="{% static 'rkvy/select2/select2.js' %}"></script>


    <!-- timepicker -->

    <link rel="stylesheet" type="text/css" href="{% static 'rkvy/timepicker/css/timepicker.css' %}" />

    <script type="text/javascript" src="{% static 'rkvy/timepicker/js/timepicker.js' %}"></script>
</head>